*.pid
*.ipr
*.iws
*.war
*.ear
.settings
target
work
.DS_Store
.classpath
.project
.db
.idea
*.iml
Thumbs.db
.*~
*.log
bin/index
*.bk
logs/
result/
*.o
*.so
*.swp
*.vec
*.bak
*.backup
*.mat
*.tree.txt
*.txt
/.checkstyle
*.html
shark-test-out
shark-test-out.tgz
shark-test.jar
shark-result/